POSTGRES_USER=""
POSTGRES_PASSWORD=""
MODE=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
MAIL_SENDER=""
MAIL_RECEIVER=""
MAIL_PW=""
IPINFO_ACCESS_TOKEN=""
NEXT_PUBLIC_MODE=""
NEXT_PUBLIC_FRONTEND_URL=""
NEXT_PUBLIC_BACKEND_URL=""
NEXT_PUBLIC_CLIENT_BACKEND_URL=""
