MODE=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
MAIL_SENDER=""
MAIL_RECEIVER=""
MAIL_PW=""
NEXT_PUBLIC_FRONTEND_URL=""
IPINFO_ACCESS_TOKEN=""
NEXTAUTH_URL=""
MAX_CREW_MEMBERSHIPS=5
MAX_CREW_MEMBERS=4
DATA_PAGE_BASE_URL=""